[Unit]
Description=Nabaztag 2 MQTT daemon
After=nabd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/pi/pynab
ExecStart=/home/pi/pynab/venv/bin/python -m nab2mqttd.nab2mqttd
PIDFile=/var/run/nab2mqttd.pid

[Install]
WantedBy=multi-user.target
